/.idea
*.docset
/src/zealgen/__pycache__
/src/zealgen/docset/__pycache__
/src/zealgen/fetch/__pycache__
/src/zealgen/parsers/__pycache__
/src/zealgen/utils/__pycache__
/test/
*.pyc
.DS_Store
/src/zealgen/build
/src/zealgen/dist
