/.idea
*.docset
/src/docugen/__pycache__
/src/docugen/docset/__pycache__
/src/docugen/fetch/__pycache__
/src/docugen/parsers/__pycache__
/src/docugen/utils/__pycache__
/test/
*.pyc
.DS_Store
/src/docugen/build
/src/docugen/dist
.output.txt
/docTest
.env
/dist
/build

docTest/SDL3.docset.links.txt
